.header-box {
    border-radius: 3rem;
    border: 2px solid black;
    background: linear-gradient(135deg, rgba(89, 97, 249, 0.9) 0%, rgba(238, 154, 229, 0.9) 100%);
    border-radius: 3rem 3rem 18.75rem 3rem;
}